.prediction-table {
  width:100%;
}

.prediction-table th {
  text-align:center;
  padding: 10px;
  background: #292929;
}

.prediction-table td {
  text-align: center;
  padding: 5px;
}

body {
  background: #ebebeb;
  color: #333;
}

.sports {
  display:flex;
  justify-content: flex-start;
  width: 25%;
  margin-bottom: 25px;
}

main {
  padding: 30px;
}

.week-selector {
  width: 125px;
  padding: 7px;
  border-radius: 10px;
}