.prediction-table {
  width:100%;
}

.prediction-table th {
  text-align:center;
  padding: 10px;
  background: #292929;
}

.prediction-table td {
  text-align: center;
  padding: 5px;
}

body {
  background: #ebebeb;
  color: #333;
}

.sports {
  display:flex;
  justify-content: space-evenly;
  width: 25%;
  margin-bottom: 25px;
}

.sports div {
  cursor: pointer;
  padding: 10px 0px;
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

.sports div.active, .sports div:hover {
  background: #4d4d4d;
  border-radius: 10px;
  color: #fff;
}

main {
  padding: 30px;
}

.week-selector {
  width: 125px;
  padding: 7px;
  border-radius: 10px;
}